{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "bootstrap/fixes.html" as fixes %}
{% set active_page = "index" %}


{% block content %}
  
<h1 align="center" class="alert alert-info">SensorSub UI</h1>

<div class="container">
<div class="panel panel-primary">
  <!-- Default panel contents -->
  <div class="panel-heading">Navigation Panel</div>
  <div class="panel-body">
    Arrow Keys direct the sub, alarms will pop up in the bottom color coded
  </div>
 <div  class="well">
 <div class="row">
  <div class="col-md-6"><img src="static/img/mock.jpg" alt="video output" class="img-rounded"></div>
  <div class="col-md-3"></div>
  <div class="col-md-3"><h3>Controls</h3></div>

  <!--up arrow-->
  <div class="col-md-6"></div>
  <div class="col-md-3"></div>
  <div class="col-md-3">
  <span class="glyphicon glyphicon-arrow-up"></span>
  <input type="button" value="up" id="MOTORup" class="btn btn-default btn-lg" name="MOTORup"></input>
  </div>

  <!--left/right arrow-->
  <div class="col-md-6"></div>
  <div class="col-md-2"></div>
  <div class="col-sm-2">
  <span class="glyphicon glyphicon-arrow-left"></span> 
  <input type="button" value="left" id="MOTORleft" class="btn btn-default btn-lg" name="MOTORleft"></input>
  </div>
  <div class="col-sm-1"></div>
  <div class="col-sm-2">
  <span class="glyphicon glyphicon-arrow-right"></span> 
  <input type="button" value="right" id="MOTORright" class="btn btn-default btn-lg" name="MOTORright"></input>
  </div>

  <!--down arrow-->
  <div class="col-md-6"></div>
  <div class="col-md-3"></div>
  <div class="col-md-2">
  <span class="glyphicon glyphicon-arrow-down"></span>
  <input type="button" value="down" id="MOTORdown" class="btn btn-default btn-lg" name="MOTORup"></input>
  </div>

  <!--direction-->
  <div class="col-md-3"></div>
  <div class="col-md-6"></div>
  <div class="col-md-2"></div>
  <div align="center" class="col-md-3">
  <h3>Direction</h3>
  <div class="btn-group btn-group-lg">
  <input type="button" value="forward" id="MOTORforward" class="btn btn-default"></input>
  <input type="button" value="reverse" id="MOTORreverse" class="btn btn-default"></input>
  </div>
  </div>


  <!--speeds -->
  <div class="col-md-3"></div>
  <div class="col-md-6"></div>
  <div class="col-md-2"></div>
  <div align="center" class="col-md-3">
  <h3>Speed</h3>
  <div class="btn-group btn-group-lg">
  <input type="button" value="-" id="MOTORspeedminus" class="btn btn-default"></input>
  <input type="button" value="1" id="MOTORspeed1" class="btn btn-default"></input>
  <input type="button" value="2" id="MOTORspeed2" class="btn btn-default"></input>
  <input type="button" value="3" id="MOTORspeed3" class="btn btn-default"></input>
  <input type="button" value="+" id="MOTORspeedplus" class="btn btn-default"></input>
  </div>
  </div>
  </div>

 </div>
 </div>
 </div>
</div>

{% endblock %}


{% block head %}
{{super()}}
{{fixes.ie8()}}
{% endblock %}

